.page {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  border-radius: 1.6rem;
  border: 0.3rem solid var(--gray-300);
  background-color: var(--gray-100);
  min-height: 36rem;
  outline-offset: 0.6rem;
  padding: 3rem;
  outline: 0.2rem solid var(--gray-100);
  box-shadow: 0px 0px 2rem 0.6rem var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.navLink {
  padding-left: 1rem;
}
.route {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
}
