html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  color: var(--dark);
}
body {
  background:linear-gradient(180deg, rgba(73, 80, 87, 1) 0%, rgba(52, 58, 64, 1) 80%, rgba(33, 37, 41, 1) 100%);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
p, span, button, li, a, label, input {
  font-size: 1.8rem;
}
